extends ../layout

block content
    .w3-container.w3-padding-32
        .w3-row.w3-margin-bottom
            .w3-col.w3-container
                .w3-card.w3-white.w3-round-large.w3-padding(style="box-shadow: 0 1px 3px rgba(0,0,0,0.3)")
                    .w3-row
                        .w3-col.s8
                            h3.text-black(style="margin-bottom:4px")= "Francisco Castro"
                            p.w3-text-grey(style="margin-top:0; margin-left: 10px")= "ciscozin"
                            p.w3-opacity
                                i.fa.fa-calendar.w3-margin-right(style="margin-left: 10px") 
                                = "13/03/2004"
                        .w3-col.s4.w3-right-align
                            if authenticated
                                button.w3-button.w3-round-large.w3-white.w3-text-red.w3-border.w3-border-red.w3-hover-red.w3-hover-text-white(
                                    onclick="logout()"
                                    style="transition:all 0.3s"
                                ) Logout
                            else 
                                button.w3-button.w3-round-large.w3-teal.w3-hover-dark-teal(
                                    onclick="window.location.href='/login'"
                                    style="transition:all 0.3s"
                                ) Sign In
                    
                    .w3-row.w3-margin-top
                        .w3-col.s3.w3-center
                            .w3-panel.w3-round-large(style="background:#f0fdfa")
                                p
                                    b.w3-text-teal Posts
                                    br
                                    span.w3-text-grey 23
                        .w3-col.s3.w3-center
                            .w3-panel.w3-round-large(style="background:#f0fdfa")
                                p
                                    b.w3-text-teal Followers
                                    br
                                    span.w3-text-grey 200

        // Posts Grid
        .w3-row-padding
            each post in posts || []
                .w3-col.l4.m6.s12.w3-margin-bottom
                    .w3-card.w3-white.w3-round-large.w3-hover-shadow(
                        style="transition: all 0.3s"
                        onmouseover="this.style.transform='scale(1.02)'; this.style.boxShadow='0 4px 8px 0 rgba(0,0,0,0.2)'"
                        onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='0 2px 4px 0 rgba(0,0,0,0.05)'"
                        onclick=`window.location.href='/post/${post._id}'`
                    )
                        if post.files && post.files.length > 0
                            each file in post.files
                                if file.type && file.type.startsWith('image/')
                                    .w3-display-container(style="height:180px;overflow:hidden")
                                        img.w3-image(src=file.path alt=file.filename style="width:100%;height:100%;object-fit:cover")
                                else if file.type && file.type.startsWith('application/')
                                    .w3-container.w3-padding.w3-light-grey
                                        i.fa.fa-file-pdf.w3-text-red.w3-xxlarge
                                        span.w3-margin-left.w3-large= file.filename
                        
                        .w3-container.w3-padding-16
                            p.w3-xlarge(style="color:#1f2937;margin-top:0")= post.title || 'Untitled'
                            p.w3-opacity= new Date(post.createdAt).toLocaleDateString('pt-PT')
                            p.w3-text-grey= post.content ? (post.content.length > 100 ? post.content.substring(0, 100) + '...' : post.content) : 'No content'
                            
                            .w3-row.w3-margin-top
                                .w3-col.s6
                                    span.w3-tag.w3-round.w3-light-grey
                                        i.fa.fa-comment.w3-margin-right
                                        = (post.comments && post.comments.length) || 0
                                .w3-col.s6.w3-right-align
                                    if post.isPublic
                                        span.w3-tag.w3-round.w3-teal Public
                                    else
                                        span.w3-tag.w3-round.w3-light-grey Private

        // Empty State
        if !posts || posts.length === 0
            .w3-container.w3-center.w3-padding-64
                .w3-card.w3-white.w3-round-large.w3-padding-large(style="max-width:500px;margin:0 auto")
                    i.fa.fa-newspaper.w3-text-teal(style="font-size:48px")
                    h3.w3-text-grey No posts yet
                    p.w3-text-grey Wait for the user to create their first post!
                    if authenticated
                        button.w3-button.w3-round-large.w3-teal.w3-margin-top(
                            onclick="window.location.href='/admin/addpost'"
                            style="transition:all 0.3s"
                        ) 
                            i.fa.fa-plus.w3-margin-right
                            | Create First Post

block scripts
    script(src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js")
    script(src="/javascripts/logout.js")